spring:
  datasource:
    url: jdbc:mysql://139.199.20.39:3306/water?characterEncoding=utf8&useSSL=false
    username: bluedream
    password: 123456
#    username: root
#    password: 690818
    test-while-idle: true
    validation-query: SELECT 1

    type: com.alibaba.druid.pool.DruidDataSource

    initialSize: 5
    minIdle: 5
    maxActive: 200
    maxWait: 60000
    timeBetweenEvictionRunsMillis: 60000
    minEvictableIdleTimeMillis: 300000
    validationQuery: SELECT 1 FROM DUAL
    testWhileIdle: true
    testOnBorrow: false
    testOnReturn: false
    poolPreparedStatements: true
    #   配置监控统计拦截的filters，去掉后监控界面sql无法统计，'wall'用于防火墙
    filters: stat,wall,log4j2
    maxPoolPreparedStatementPerConnectionSize: 20
    useGlobalDataSourceStat: true
    connectionProperties: druid.stat.mergeSql=true;druid.stat.slowSqlMillis=500

  thymeleaf:
    mode: LEGACYHTML5
    prefix: classpath:/templates/
    encoding: utf-8
    suffix: .html
    cache: false
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
      naming-strategy: org.hibernate.cfg.ImprovedNamingStrategy
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5Dialect
  jackson:
      date-format: yyyy-MM-dd HH:mm:ss
  mvc:
    date-format: yyyy-MM-dd'T'HH:mm
  mail:
    port: 587
    username: 1403976416@qq.com
    password: torkcvokxfuugfaf
    protocol: smtp
    default-encoding: UTF-8
    host: smtp.qq.com
    properties:
    - name: mail.smtp.socketFactory.class
      value: javax.net.ssl.SSLSocketFactory
    - name: mail.smtp.ssl.enable
      value: true
    - name: mail.smtp.ssl.socketFactory
      value: sf
server:
  port: 8081
app:
  jwt:
  header: token
  tokenHead: ttttt
  expire: 5184000
  secret: aHR0cHM6Ly9teS5vc2NoaW5hLm5ldC91LzM2ODE4Njg=

jwt:
  header: Authorization
  secret: mySecret
  expiration: 604800
  tokenHead: "Bearer "
  route:
    authentication:
      path: auth
      refresh: refresh
      register: "auth/register"

tcp:
  port: 5433
boss:
  thread:
    count: 2
worker:
  thread:
    count: 2
so:
  keepalive:  true
  backlog: 100

water-app:
  masterSecret: c2a68f5c855cc2ce3bfac548
  appKey: d7829e5212fa4e65d461ba5b
