
<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>注册</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Validation Signup Form Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- fonts -->
    <link href="http://fonts.googleapis.com/css?family=Muli:300,400" rel="stylesheet">
    <!-- /fonts -->
    <!-- css -->
    <link href="css/bootstrap.css" rel="stylesheet" type='text/css' media="all" />
    <link href="css/style.css" rel="stylesheet" type='text/css' media="all" />
    <!-- /css -->
</head>
<body>
<h1 class="w3ls">注册</h1>
<div th:if="${regerror}" class="content-agileits">
<h4  class="msg" th:text="${regerror}"></h4>
</div>
<div class="content-agileits">
    <form th:action="@{/registeraction}" method="post" data-toggle="validator" role="form">
        <div class="form-group 小贝壳网站模板 w3 w3l">
            <label for="firstname" class="control-label">用户名</label>
            <input name="username" type="text" class="form-control" id="firstname" placeholder="用户名" data-error="请输入用户名" required>
            <div class="help-block with-errors"></div>
        </div>
        <!--<div class="form-group agileits 小贝壳网站模板 w3">-->
            <!--<label for="lastname" class="control-label">Last Name</label>-->
            <!--<input type="text" class="form-control" id="lastname" placeholder="Last Name" data-error="Enter Your Last Name" required>-->
            <!--<div class="help-block with-errors"></div>-->
        <!--</div>-->
        <div class="form-group w3l agileinfo wthree w3-agileits">
            <label for="inputEmail" class="control-label">邮箱</label>
            <input name="email" type="email" class="form-control" id="inputEmail" placeholder="邮箱" data-error="请输入正确的邮箱" required>
            <div class="help-block with-errors"></div>
        </div>
        <div class="form-group agileinfo wthree w3-agileits agile">
            <label for="Phone" class="control-label">电话</label>
            <input name="phone" type="text" class="form-control" id="Phone" placeholder="电话" data-error="请输入电话号码" required>
            <div class="help-block with-errors"></div>
        </div>
        <div class="form-group agile agileits-小贝壳网站模板 w3-agile">
            <label for="inputPassword" class="control-label">密码</label>
            <div class="form-inline row">
                <div class="form-group col-sm-6 agileits-小贝壳网站模板">
                    <input name="passwd" type="password" data-minlength="6" class="form-control" id="inputPassword" placeholder="请输入密码" required>
                    <div class="help-block">密码长度至少6位</div>
                </div>
                <div class="form-group col-sm-6 w3-agile">
                    <input type="password" class="form-control" id="inputPasswordConfirm" data-match="#inputPassword" data-match-error="两次输入密码一致" placeholder="确认密码" required>
                    <div class="help-block with-errors"></div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-lg">注册</button>
        </div>
    </form>
</div>
<!--<p class="copyright-w3ls">© 2017 Authentication Signup Form. All Rights Reserved | Design by <a href="http://www.smallseashell.com/" target="_blank">小贝壳网站模板</a></p>-->
<!-- js files -->
<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/validator.min.js"></script>
<!-- /js files -->
</body>
</html>